<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
    <div class="row">
        <div class="row">
            <div class="col-md-2">
                <a href="https://www.facebook.com/profile.php?id=100004665497521" class="fa fa-facebook"></a>
            </div>
            <div class="col-md-2">
                <a href="https://www.linkedin.com/in/callum-bensemann/" class="fa fa-linkedin"></a>
            </div>
            <div class="col-md-7 copyright">
                <p>Copyright &copy; Callum Bensemann {{year}}</p>
            </div>
        </div>
    </div>
</div>