@import '@import "~src/styles';
$text-color: white;
$height: 80;
$font: 30;
$padding: 20;
$padding-top: ($height - (2 * $padding) - $font) / 2;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height + 0px;
    background: $header;
    color: $text-color;
    .links {
        display: inline-block;
        .container {
            padding-top: $padding-top + 0px;
            a:hover {
                text-decoration: none;
                color: $text-color !important;
            }
            .icon {
                display: inline-block;
            }
            .link {
                display: inline-block;
            }
        }
        .bars {
            position: absolute;
            padding-top: $padding-top + 0px;
            float: right;
            right: 0;
            a {
                float: right;
            }
        }
        a {
            font-weight: 600;
            font-style: normal;
            font-size: $padding + 0px;
            letter-spacing: .15em;
            text-transform: uppercase;
            color: $text-color;
            padding: $padding + 0px;
        }
        .container:hover {
            a {
                color: grey;
            }
        }
    }
}

@media only screen and (min-width: 1001px) {
    .icon {
        display: none !important;
    }
}

@media only screen and (max-width: 1000px) {
    .links {
        display: block;
        .link {
            display: none !important;
        }
    }
    .header {
        .bars {
            margin-top: -10px !important;
        }
    }
    .header.responsive {
        height: 298px !important;
        .links {
            .bars {
                margin-top: 4px !important;
            }
            .container {
                padding-top: 5px !important;
                .link {
                    display: block !important;
                }
            }
        }
    }
}